/* -------------------------- */
/* BASIC SETUP */
/* -------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.svg_container {
    margin-top: 3.125rem;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;  
    position: relative; 
}

/* -------------------------- */
/* ANIMATIONS */
/* -------------------------- */

#tree1, #tree2, #tree3 {
    animation: changeColor 2s infinite alternate; 
}

@keyframes changeColor {
    0% {
        fill: #dc3c3c;
    }
    100% {
        fill: #d5a486;
    }
}

#Bounce_1 {
    animation: bounce 1s infinite ease-out alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-9px);
    }
}

#Bounce_2 {
    /*
    animation: bounce_1 2s infinite ease-in alternate;
    transform-origin: right;
    transform-box: fill-box;
    
    */
}

@keyframes bounce_1 {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translate(-5px);
    }

}

#Bounce_3 {
    animation: rotate 2s infinite alternate;
    transform-origin: right;
    transform-box: fill-box;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(-8deg);
    }
}

/* -------------------------- */
/* TEXT */
/* -------------------------- */

.text_404 {
    font-family: 'Merriweather', serif;
    font-size: 140px;
    position: relative;
    top: -33.125rem;
    left: 8.75rem;
    display: inline-block;
    transform: rotate(-22deg) skew(-5deg);
    color: #eb9292;
    overflow: hidden;
}

.oops {
    position: relative;
    bottom: 6.25rem;
    text-align: center;
}

/* ------- PARAGRAPHS --------  #b5b5b5 */

.oops_text {
    color: #eb9292;
    font-family: 'Merriweather', serif;
    font-size: 3.4375rem;
    margin-bottom: 1.875rem;
}

.we_cant {
    font-family: 'Merriweather', serif;
    font-size: 1.15625rem;
}

.helpful {
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
    text-align: center;
    bottom: 3.75rem;
    color: #606060;
    font-size: 1.3125rem;
}

.helpful  li, a {
    color: rgba(0, 0, 0, 0.733);
    margin-top: 1.0625rem;
    list-style: none;
    text-decoration: underline;
    display: inline-block;
    padding: 0rem 0.4rem;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

/* -------------------------- */
/* MEDIA QUERIES */
/* -------------------------- */

@media only screen and (max-width: 767px) {
    .svg_container,
    .oops,
    .helpful {
        padding: 1rem;
    }

    .text_404 {
        font-family: 'Merriweather', serif;
        font-size: 8rem;
        left: 10rem;
        transform: rotate(-22deg) skew(-5deg);
        color: #eb9292;
    }
}

@media only screen and (max-width: 679px) {
    .text_404 {
        font-family: 'Merriweather', serif;
        position: relative;
        font-size: 8rem;
        top: -30rem;
        left: 8rem;
        transform: rotate(-22deg) skew(-5deg);
        color: #eb9292;
    }
}

@media only screen and (max-width: 586px) {
    .text_404 {
        font-family: 'Merriweather', serif;
        position: relative;
        font-size: 8rem;
        top: -28rem;
        left: 8rem;
        transform: rotate(-22deg) skew(-5deg);
        color: #eb9292;
    }
}

@media only screen and (max-width: 565px) {
    .text_404 {
        font-family: 'Merriweather', serif;
        position: relative;
        font-size: 8rem;
        top: -26rem;
        left: 8rem;
        transform: rotate(-22deg) skew(-5deg);
        color: #eb9292;
    }
}

@media only screen and (max-width: 525px) {
    .text_404 {
        font-family: 'Merriweather', serif;
        position: relative;
        font-size: 8rem;
        top: -24rem;
        left: 7rem;
        transform: rotate(-22deg) skew(-5deg);
        color: #eb9292;
    }

}
@media only screen and (max-width: 505px) {
    .text_404 {
        font-family: 'Merriweather', serif;
        position: relative;
        font-size: 7rem;
        top: -24rem;
        left: 6rem;
        transform: rotate(-22deg) skew(-5deg);
        color: #eb9292;
    }

}
@media only screen and (max-width: 455px) {
    .text_404 {
        font-family: 'Merriweather', serif;
        position: relative;
        font-size: 7rem;
        top: -22.5rem;
        left: 6rem;
        transform: rotate(-22deg) skew(-5deg);
        color: #eb9292;
    }

}

@media only screen and (max-width: 361px) {
        .text_404 {
            font-family: 'Merriweather', serif;
            font-size: 5rem;
            top: -18rem;
            left: 5rem;
            transform: rotate(-22deg) skew(-5deg);
            color: #eb9292;
        }
}

